* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body {
    background-color: #000000;
} */

/* utility */
.flex {
    display: flex;
}
.direction {
    flex-direction: column;
}
.space {
    padding: 0 1rem;
}
.middle {
    align-self: center;
}
.end {
    align-self: flex-end;
}
.middle_items {
    align-items: center;
}
img {
    display: block;
}
.border_color {
    border: 5px solid #9AE036;
}
/* header */
.site_header {
    border-top: 1px solid #868F98; 
}
.site_header_container {
    background-color: #DADADA;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
}
.circles {
    flex-grow: 1;
}
.red_circle, .yellow_circle, .green_circle  {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.red_circle {
    background: #FC625D;
}
.yellow_circle {
    background: #FDBC40;
    margin: 0 0.5rem;
}
.green_circle {
    background: #33C74A;
}
.zoom_id {
    flex-grow: 1;
}
.zoom_id p {
    margin-right: 5px;
}
.hidden_id {
    width: 10rem;
    background-color: #A5A5A5;
    border: 5px solid #ffffff;
}

/* main */
.site_main {
    background-color: black;
    position: relative;
}
.site_main_container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.video {
    margin: 0.5rem;
}
.video i, .video p {
    color: white;
}

.image_wrapper {
     position: relative;
}

.microphone {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    padding: 0.5rem;
}
.caret_left {
  color: #7F7F7F;
  position: absolute;
  top: 50%;
  left: 5%;
}
.caret_right {
    color: #39BBFC;
    position: absolute;
    top: 50%;
    right: 5%;
}
.caret_right p, .caret_left p {
    color: #ffffff;
}
 .view_icons {
    justify-content: flex-end;
    padding: 0.5rem;
}
.speaker_view {
    color: white;
    background: #ffffff3b;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-right: 0.3rem;
    align-items: center;
    
} 
.img_speaker {
    height: 15px;
    width: 15px;
    filter: brightness(2);
    margin-right: 0.5rem;

    
}
.expand {
    color: white;
    background: #ffffff3b;
    border-radius: 0.3rem;
    padding: 0.5rem;
}
.expand_arrow {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

/* footer */
.site_footer {
    background-color: #000000d4;
    justify-content: space-between;
    
}
.left_icons {
    color: #ffffff;
    padding: 0.5rem;
}
.middle_icons img{
filter: invert(1);
height: 40px;
}
.middle_icons {
color: #ffffff;
padding: 0.5rem;
}
.bar_chart {
    height: 50px;
}
.share img {
    height: 50px;
    filter: invert(0.8) hue-rotate( 
    183deg) saturate(10) opacity(0.5);
}
.right_icons {
    color: red;
    background: #ffffff3b;
}
.right_icons p {
    padding: 0.5rem;
}