* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body {
    background-color: #000000;
} */

/* utility */
.flex {
    display: flex;
}
img {
    display: block;
}
/* header */
.site_header {
    border-top: 1px solid #868F98; 
}
.site_header_container {
    background-color: #DADADA;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
}
.circles {
    flex-grow: 1;
}
.red_circle, .yellow_circle, .green_circle  {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.red_circle {
    background: #FC625D;
}
.yellow_circle {
    background: #FDBC40;
    margin: 0 0.5rem;
}
.green_circle {
    background: #33C74A;
}
.zoom_id {
    flex-grow: 1;
}
.zoom_id p {
    margin-right: 5px;
}
.hidden_id {
    width: 10rem;
    background-color: #A5A5A5;
    border: 5px solid #ffffff;
}

/* main */
.site_main {
    background-color: black;
    position: relative;
}
.site_main_container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.video {
    margin: 0.5rem;
}
.video i, .video p {
    color: white;
}

.image_wrapper {
     position: relative;
}

.microphone {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.473);
    padding: 0.5rem;
}
.caret_left {
  color: #7F7F7F;
  position: absolute;
  top: 50%;
  left: 5%;
}
.caret_right {
    color: #39BBFC;
    position: absolute;
    top: 50%;
    right: 5%;

}
.view_icons {
    position: absolute;
    top: 0;
    right: 0;
}
.speaker_view {
    color: white;
    background: rgba(0, 0, 0, 0.014);
    display: inline-block;
}
.iconcina {
    vertical-align: middle;
    
}
.expand {
    color: white;
    display: inline-block;

}